@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .vxproject-button {
        @apply font-montserrat uppercase text-vxproject-primary font-bold text-sm rounded-full border border-vxproject-primary px-3
        hover:text-vxproject-secondary hover:border-vxproject-secondary;
    }

    .vxproject-border {
        @apply border-2 rounded-lg border-vxproject-primary-light border-opacity-50 shadow-lg
        dark:bg-gray-800 dark:border-gray-700;
    }

    .vxproject-link-primary {
        @apply font-bold bg-white text-vxproject-primary no-underline
        hover:bg-white hover:text-vxproject-secondary hover:no-underline
        active:text-vxproject-secondary;
    }
}

/* Estilos Datatable */

:root {
    --dt-row-selected: 53, 0, 153;
    --dt-row-selected-text: 255, 255, 255;
    --dt-row-selected-link: 9, 10, 11;
}

table.dataTable {
    font-size: 0.9rem;
}

.dataTables_wrapper .dataTables_length select {
    width: 70px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: rgba(53, 0, 153, 0.9) !important;
    border: 1px solid rgba(53, 0, 153, 0.9);
    border-radius: 10px;
    background: transparent none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #ff00ff !important;
    border: 1px solid #ff00ff;
    border-radius: 10px;
    background: transparent none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background: transparent none;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous, .dataTables_wrapper .dataTables_paginate .paginate_button.next {
    color: #9900ff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.next:hover {
    color: #ff00ff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.next.disabled {
    color: #666 !important;
}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #aaa;
    border-radius: 7px;
    padding: 5px;
    background-color: transparent;
    margin-left: 3px;
}

.dataTables_wrapper .dataTables_filter input:focus {
    outline: none;
    --tw-ring-color: #ff00ff;
    border: 1px solid #ff00ff;
}

.dataTables_wrapper .dataTables_length select {
    border: 1px solid #aaa;
    border-radius: 7px;
}

.dataTables_wrapper .dataTables_length select:focus {
    outline: none;
    --tw-ring-color: #ff00ff;
    border: 1px solid #ff00ff;
    border-radius: 7px;
}