.st0{fill:#FFFFFF;}
.st1{fill:#94569E;}
.st2{display:none;fill:#94569E;}
.st3{display:none;fill:#1D1D1B;stroke:#1D1D1B;stroke-miterlimit:10;}
.st4{fill:#1D1D1B;stroke:#1D1D1B;stroke-miterlimit:10;}
.st5{fill:#FFFFFF;stroke:#CB8BDA;stroke-width:0.25;stroke-linecap:round;stroke-miterlimit:10;}
.st6{fill:none;stroke:#FFFFFF;stroke-width:0.8957;stroke-miterlimit:10;}
.st7{fill:#94569E;stroke:#000000;stroke-width:0.05;stroke-miterlimit:10;}
.st8{fill:#FFFFFF;stroke:#1D1D1B;stroke-width:0.1;stroke-miterlimit:10;}
.st9{fill:#1D1D1B;}
.st10{fill:#FFFFFF;stroke:#662483;stroke-width:0.163;stroke-linecap:round;stroke-miterlimit:10;}
.st11{opacity:0.1;fill:#94569E;}
.st12{fill:#FEFEFE;}
.st13{fill:#23537C;}
.st14{fill:#1C4262;}
.st15{fill:#E1E3E2;}
.st16{fill:#6DB0E1;}
.st17{fill:#F9FAFA;}
.st18{fill:#539BD3;}
.st19{fill:#4E93C8;}
.st20{fill:#C01F27;}
.st21{fill:#9A1920;}
.st22{fill:#E3E4E3;}
.st23{fill:#FEFDFD;}
.st24{fill:#C12129;}
.st25{fill:#FDFDFE;}
.st26{fill:#3D58B8;}
.st27{fill:#2069BB;}
.st28{fill:#1071BC;}
.st29{fill:#554BB6;}
.st30{fill:#2F62BA;}
.st31{fill:#0678BD;}
.st32{fill:#8F2AB1;}
.st33{fill:#6246B6;}
.st34{fill:#6D3EB5;}
.st35{fill:#7A35B3;}
.st36{fill:#8931B3;}
.st37{fill:#9E66A7;}
.st38{fill:#4D4FB7;}
.st39{fill:#F7F2FA;}
.st40{fill:#FCFBFD;}
.st41{fill:none;}
.st42{fill:#CB8BDA;}
.st43{fill:#FDFCFD;}
.st44{filter:url(#Adobe_OpacityMaskFilter);}
.st45{mask:url(#gmask_1_);fill:url(#SVGID_1_);}
.st46{filter:url(#Adobe_OpacityMaskFilter_00000035520952952066827790000012682129285922217872_);}
.st47{mask:url(#gmask_2_);fill:url(#SVGID_00000150064838933329805600000014129599729357718949_);}